---
import LogoPmi from '../asset/logo-pmi.png';
const {title_halaman} = Astro.props;
---

<nav class="fixed top-0 z-50 w-full bg-red-700 border-b shadow-[inset_-1px_4px_18px_4px_#fed7d7]">
    <div class="px-3 py-3 lg:px-5 lg:pl-3">
        <div class="flex items-center justify-between">
            
            <div class="flex items-center justify-start rtl:justify-end">
                <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar"
                    aria-controls="logo-sidebar" type="button"
                    class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
                    <span class="sr-only">Open sidebar</span>
                    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path clip-rule="evenodd" fill-rule="evenodd"
                            d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
                        </path>
                    </svg>
                </button>
                <span class="ms-5 text-[14px] font-semibold text-white" id="date_time"></span>
                <a href="https://flowbite.com" class="flex ms-2 md:ms-[60px]">
                    
                    <span
                        class="text-xl sm:text-2xl whitespace-nowrap text-white font-bold">{title_halaman}
                    </span>
                </a>
                
            </div>
            <div class="flex items-center">
                <div class="flex items-center bg-white rounded-2xl`">
                    <img src={LogoPmi.src} class="h-10" alt="Logo PMI" />
                    <!-- <a href="https://flowbite.com" class="flex ms-2 md:me-3">
                        <span
                            class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white">PMI Kota Bandung
                        </span>
                    </a> -->
                </div>
            </div>
        </div>
    </div>
</nav>

<script is:inline>
    function date_time(id)
        {
                date = new Date;
                year = date.getFullYear();
                month = date.getMonth();
                months = new Array('Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember');
                d = date.getDate();
                day = date.getDay();
                days = new Array('Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu');
                h = date.getHours();
                if(h<10)
                {
                        h = "0"+h;
                }
                m = date.getMinutes();
                if(m<10)
                {
                        m = "0"+m;
                }
                s = date.getSeconds();
                if(s<10)
                {
                        s = "0"+s;
                }
                result = ''+days[day]+', '+' '+d+' '+months[month]+' '+year+'<br> '+h+':'+m+':'+s;
                document.getElementById(id).innerHTML = result;
                setTimeout('date_time("'+id+'");','1000');
                return true;
        }


    

    
</script>
<script is:inline type="text/javascript">window.onload = date_time('date_time');</script>	